<div class="container-xxl">
   <div class="row align-items-center">
       <div class="col-12" > <h3>Personal information</h3></div>
        <div class="col-3">Full name</div>
     <div class="col-9"> John Christopher Depp II</div>
     <div class="col-3">Born</div>
     <div class="col-9"> June 9, 1963</div>
     <div class="col-3">Citizenship </div>
     <div class="col-9">USA</div>
     <div class="col-12" > <h3>Education</h3></div>
     <div class="col-3"> Owensboro, Kentucky, school</div>
     <div class="col-9"> 1970-1979</div>
     <div class="col-12" > <h3>Work experience</h3></div>
       <div class="col-3">Work in Hollywood </div>
     <div class="col-9"> 1984-2020</div>
     <div class="col-12" > <h3>Filmography</h3></div>

     <table class="wikitable plainrowheaders sortable">
       <caption><style data-mw-deduplicate="TemplateStyles:r1015390333">.mw-parser-output .sr-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap}</style><span class="sr-only">List of films</span>
       </caption>
       <tbody><tr>
         <th scope="col">Year
         </th>
         <th scope="col">Title
         </th>
         <th scope="col">Role(s)
         </th>
         <th scope="col" class="unsortable">Notes
         </th></tr>
       <tr>
         <th scope="row">1984
         </th>
         <td><i><span data-sort-value="Nightmare on Elm Street, A"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/A_Nightmare_on_Elm_Street" title="A Nightmare on Elm Street">A Nightmare on Elm Street</a></span></span></span></i>
         </td>
         <td><span data-sort-value="Lantz, Glen"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Glen_Lantz" class="mw-redirect" title="Glen Lantz">Glen Lantz</a></span></span></span>
         </td>
         <td>
         </td>
        </tr>
       <tr>
         <th scope="row">1985
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Private_Resort" title="Private Resort">Private Resort</a></i>
         </td>
         <td><span data-sort-value="Marshall, Jack"><span class="vcard"><span class="fn">Jack Marshall</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">1986
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Platoon_(film)" title="Platoon (film)">Platoon</a></i>
         </td>
         <td>Lerner
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">1990
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Cry-Baby" title="Cry-Baby">Cry-Baby</a></i>
         </td>
         <td><span data-sort-value="Walker, Wade"><span class="vcard"><span class="fn">Wade "Cry-Baby" Walker</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">1990
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Edward_Scissorhands" title="Edward Scissorhands">Edward Scissorhands</a></i>
         </td>
         <td><span data-sort-value="Scissorhands, Edward"><span class="vcard"><span class="fn">Edward Scissorhands</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">1991
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Freddy%27s_Dead:_The_Final_Nightmare" title="Freddy&#39;s Dead: The Final Nightmare">Freddy's Dead: The Final Nightmare</a></i>
         </td>
         <td><span data-sort-value="Lantz, Glen"><span class="vcard"><span class="fn">Glen Lantz</span></span></span>
         </td>
         <td><a href="https://en.wikipedia.org/wiki/Cameo_appearance" title="Cameo appearance">Cameo</a>
         </td>
         <</tr>
       <tr>
         <th scope="row">1993
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Arizona_Dream" title="Arizona Dream">Arizona Dream</a></i>
         </td>
         <td><span data-sort-value="Blackmar, Axel"><span class="vcard"><span class="fn">Axel Blackmar</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">1993
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Benny_%26_Joon" title="Benny &amp; Joon">Benny &amp; Joon</a></i>
         </td>
         <td>Sam
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">1993
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/What%27s_Eating_Gilbert_Grape" title="What&#39;s Eating Gilbert Grape">What's Eating Gilbert Grape</a></i>
         </td>
         <td><span data-sort-value="Grape, Gilbert"><span class="vcard"><span class="fn">Gilbert Grape</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">1994
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Ed_Wood_(film)" title="Ed Wood (film)">Ed Wood</a></i>
         </td>
         <td><span data-sort-value="Wood, Ed"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Ed_Wood" title="Ed Wood">Ed Wood</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">1995
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Don_Juan_DeMarco" title="Don Juan DeMarco">Don Juan DeMarco</a></i>
         </td>
         <td><span data-sort-value="DeMarco, John"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Don_Juan" title="Don Juan">John A. DeMarco /  Don Juan</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">1995
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Dead_Man" title="Dead Man">Dead Man</a></i>
         </td>
         <td><span data-sort-value="Blake, William"><span class="vcard"><span class="fn">William Blake</span></span></span>
         </td>
         <td>
         </td>
         <</tr>
       <tr>
         <th scope="row">1995
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Nick_of_Time_(film)" title="Nick of Time (film)">Nick of Time</a></i>
         </td>
         <td><span data-sort-value="Watson, Gene"><span class="vcard"><span class="fn">Gene Watson</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">1996
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Cannes_Man" title="Cannes Man">Cannes Man</a></i>
         </td>
         <td>Himself
         </td>
         <td>Cameo
         </td>
         </tr>
       <tr>
         <th scope="row">1997
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Donnie_Brasco_(film)" title="Donnie Brasco (film)">Donnie Brasco</a></i>
         </td>
         <td><span data-sort-value="Brasco, Donnie"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Joseph_D._Pistone" title="Joseph D. Pistone">Donnie Brasco /  Joseph D. Pistone</a></span></span></span>
         </td>
         <td>
         </td>
        </tr>
       <tr>
         <th scope="row">1997
         </th>
         <td><i><span data-sort-value="Brave, The"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/The_Brave_(film)" title="The Brave (film)">The Brave</a></span></span></span></i>
         </td>
         <td>Raphael
         </td>
         <td>Also director and co-writer
         </td>
         </tr>
       <tr>
         <th scope="row">1998
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Fear_and_Loathing_in_Las_Vegas_(film)" title="Fear and Loathing in Las Vegas (film)">Fear and Loathing in Las Vegas</a></i>
         </td>
         <td><span data-sort-value="Duke, Raoul"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Raoul_Duke" title="Raoul Duke">Raoul Duke</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">1998
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/L.A._Without_a_Map" title="L.A. Without a Map">L.A. Without a Map</a></i>
         </td>
         <td><span data-sort-value="Blake, William"><span class="vcard"><span class="fn">William Blake</span></span></span>
         </td>
         <td>Cameo
         </td>
         </tr>
       <tr>
         <th scope="row">1999
         </th>
         <td><i><span data-sort-value="Ninth Gate, The"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/The_Ninth_Gate" title="The Ninth Gate">The Ninth Gate</a></span></span></span></i>
         </td>
         <td><span data-sort-value="Corso, Dean"><span class="vcard"><span class="fn">Dean Corso</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">1999
         </th>
         <td><i><span data-sort-value="Astronaut&#39;s Wife, The"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/The_Astronaut%27s_Wife" title="The Astronaut&#39;s Wife">The Astronaut's Wife</a></span></span></span></i>
         </td>
         <td><span data-sort-value="Armacost, Spencer"><span class="vcard"><span class="fn">Spencer Armacost</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">1999
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Sleepy_Hollow_(film)" title="Sleepy Hollow (film)">Sleepy Hollow</a></i>
         </td>
         <td><span data-sort-value="Crane, Ichabod"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Ichabod_Crane" title="Ichabod Crane">Ichabod Crane</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2000
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Chocolat_(2000_film)" title="Chocolat (2000 film)">Chocolat</a></i>
         </td>
         <td>Roux
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2000
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Before_Night_Falls_(film)" title="Before Night Falls (film)">Before Night Falls</a></i>
         </td>
         <td><span data-sort-value="Bon, Bon"><span class="vcard"><span class="fn">Bon Bon /  Lt. Victor</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2000
         </th>
         <td><i><span data-sort-value="Man Who Cried, The"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/The_Man_Who_Cried" title="The Man Who Cried">The Man Who Cried</a></span></span></span></i>
         </td>
         <td>Cesar
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2001
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Blow_(film)" title="Blow (film)">Blow</a></i>
         </td>
         <td><span data-sort-value="Jung, George"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/George_Jung" title="George Jung">George Jung</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2001
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/From_Hell_(film)" title="From Hell (film)">From Hell</a></i>
         </td>
         <td><span data-sort-value="Abberline, Frederick"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Frederick_Abberline" title="Frederick Abberline">Frederick Abberline</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2003
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Once_Upon_a_Time_in_Mexico" title="Once Upon a Time in Mexico">Once Upon a Time in Mexico</a></i>
         </td>
         <td><span data-sort-value="Sands, Sheldon"><span class="vcard"><span class="fn">Sheldon Sands</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2003
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Pirates_of_the_Caribbean:_The_Curse_of_the_Black_Pearl" title="Pirates of the Caribbean: The Curse of the Black Pearl">Pirates of the Caribbean: The Curse of the Black Pearl</a></i>
         </td>
         <td><span data-sort-value="Sparrow, Jack"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Captain_Jack_Sparrow" class="mw-redirect" title="Captain Jack Sparrow">Captain Jack Sparrow</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2004
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Happily_Ever_After_(2004_film)" title="Happily Ever After (2004 film)">Happily Ever After</a></i>
         </td>
         <td>L'inconnu
         </td>
         <td>Cameo
         </td>
         </tr>
       <tr>
         <th scope="row">2004
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Secret_Window" title="Secret Window">Secret Window</a></i>
         </td>
         <td><span data-sort-value="Rainey, Morton"><span class="vcard"><span class="fn">Morton "Mort" Rainey</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2004
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Finding_Neverland_(film)" title="Finding Neverland (film)">Finding Neverland</a></i>
         </td>
         <td><span data-sort-value="Barrie, James"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/J._M._Barrie" title="J. M. Barrie">J. M. Barrie</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2004
         </th>
         <td><i><span data-sort-value="Libertine, The"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/The_Libertine_(2004_film)" title="The Libertine (2004 film)">The Libertine</a></span></span></span></i>
         </td>
         <td><span data-sort-value="Wilmot, John"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/John_Wilmot,_2nd_Earl_of_Rochester" title="John Wilmot, 2nd Earl of Rochester">John Wilmot, 2nd Earl of Rochester</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2005
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Charlie_and_the_Chocolate_Factory_(film)" title="Charlie and the Chocolate Factory (film)">Charlie and the Chocolate Factory</a></i>
         </td>
         <td><span data-sort-value="Wonka, Willy"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Willy_Wonka" title="Willy Wonka">Willy Wonka</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2005
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Corpse_Bride" title="Corpse Bride">Corpse Bride</a></i>
         </td>
         <td><span data-sort-value="Dort, Victor Van"><span class="vcard"><span class="fn">Victor Van Dort</span></span></span>
         </td>
         <td>Voice role
         </td>
         </tr>
       <tr>
         <th scope="row">2006
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Pirates_of_the_Caribbean:_Dead_Man%27s_Chest" title="Pirates of the Caribbean: Dead Man&#39;s Chest">Pirates of the Caribbean: Dead Man's Chest</a></i>
         </td>
         <td><span data-sort-value="Sparrow, Jack"><span class="vcard"><span class="fn">Captain Jack Sparrow</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2007
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Pirates_of_the_Caribbean:_At_World%27s_End" title="Pirates of the Caribbean: At World&#39;s End">Pirates of the Caribbean: At World's End</a></i>
         </td>
         <td><span data-sort-value="Sparrow, Jack"><span class="vcard"><span class="fn">Captain Jack Sparrow</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2007
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Sweeney_Todd:_The_Demon_Barber_of_Fleet_Street_(2007_film)" title="Sweeney Todd: The Demon Barber of Fleet Street (2007 film)">Sweeney Todd: The Demon Barber of Fleet Street</a></i>
         </td>
         <td><span data-sort-value="Todd, Sweeney"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Sweeney_Todd" title="Sweeney Todd">Benjamin Barker /  Sweeney Todd</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2009
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Public_Enemies_(2009_film)" title="Public Enemies (2009 film)">Public Enemies</a></i>
         </td>
         <td><span data-sort-value="Dillinger, John"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/John_Dillinger" title="John Dillinger">John Dillinger</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2009
         </th>
         <td><i><span data-sort-value="Imaginarium of Doctor Parnassus, The"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/The_Imaginarium_of_Doctor_Parnassus" title="The Imaginarium of Doctor Parnassus">The Imaginarium of Doctor Parnassus</a></span></span></span></i>
         </td>
         <td>Tony (1st Transformation)
         </td>
         <td>Cameo
         </td>
         </tr>
       <tr>
         <th scope="row">2010
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Alice_in_Wonderland_(2010_film)" title="Alice in Wonderland (2010 film)">Alice in Wonderland</a></i>
         </td>
         <td><span data-sort-value="Hightopp, Tarrant"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Mad_Hatter" class="mw-redirect" title="Mad Hatter">Tarrant Hightopp / Mad Hatter</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2010
         </th>
         <td><i><span data-sort-value="Tourist, The"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/The_Tourist_(2010_film)" title="The Tourist (2010 film)">The Tourist</a></span></span></span></i>
         </td>
         <td><span data-sort-value="Tupelo, Frank"><span class="vcard"><span class="fn">Frank Tupelo / Alexander Pearce</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2011
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Rango_(2011_film)" title="Rango (2011 film)">Rango</a></i>
         </td>
         <td>Rango, Lars, Raoul Duke
         </td>
         <td>Voice role
         </td>
         </tr>
       <tr>
         <th scope="row">2011
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Pirates_of_the_Caribbean:_On_Stranger_Tides" title="Pirates of the Caribbean: On Stranger Tides">Pirates of the Caribbean: On Stranger Tides</a></i>
         </td>
         <td><span data-sort-value="Sparrow, Jack"><span class="vcard"><span class="fn">Captain Jack Sparrow</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2011
         </th>
         <td><i><span data-sort-value="Rum Diary, The"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/The_Rum_Diary_(film)" title="The Rum Diary (film)">The Rum Diary</a></span></span></span></i>
         </td>
         <td><span data-sort-value="Kemp, Paul"><span class="vcard"><span class="fn">Paul Kemp</span></span></span>
         </td>
         <td>Also producer
         </td>
         </tr>
       <tr>
         <th scope="row">2011
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Jack_and_Jill_(2011_film)" title="Jack and Jill (2011 film)">Jack and Jill</a></i>
         </td>
         <td>Himself
         </td>
         <td>Uncredited cameo
         </td>
         </tr>
       <tr>
         <th scope="row">2011
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Hugo_(film)" title="Hugo (film)">Hugo</a></i>
         </td>
         <td data-sort-value="" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;" class="table-na">N/A
         </td>
         <td>Producer
         </td>
         </tr>
       <tr>
         <th scope="row">2012
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/21_Jump_Street_(film)" title="21 Jump Street (film)">21 Jump Street</a></i>
         </td>
         <td>Tom Hanson
         </td>
         <td>Uncredited cameo
         </td>
         </tr>
       <tr>
         <th scope="row">2012
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Dark_Shadows_(film)" title="Dark Shadows (film)">Dark Shadows</a></i>
         </td>
         <td><span data-sort-value="Collins, Barnabas"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Barnabas_Collins" title="Barnabas Collins">Barnabas Collins</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2013
         </th>
         <td><i><span data-sort-value="Lone Ranger, The"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/The_Lone_Ranger_(2013_film)" title="The Lone Ranger (2013 film)">The Lone Ranger</a></span></span></span></i>
         </td>
         <td><a href="https://en.wikipedia.org/wiki/Tonto" title="Tonto">Tonto</a>
         </td>
         <td>Also executive producer
         </td>
         </tr>
       <tr>
         <th scope="row">2013
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Lucky_Them" title="Lucky Them">Lucky Them</a></i>
         </td>
         <td><span data-sort-value="Smith, Matthew"><span class="vcard"><span class="fn">Matthew Smith</span></span></span>
         </td>
         <td>Cameo
         </td>
         </tr>
       <tr>
         <th scope="row">2014
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Transcendence_(2014_film)" title="Transcendence (2014 film)">Transcendence</a></i>
         </td>
         <td><span data-sort-value="Caster, Will"><span class="vcard"><span class="fn">Dr. Will Caster</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2014
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Tusk_(2014_film)" title="Tusk (2014 film)">Tusk</a></i>
         </td>
         <td><span data-sort-value="LaPointe, Guy"><span class="vcard"><span class="fn">Guy LaPointe</span></span></span>
         </td>
         <td>
         </td>
        </tr>
       <tr>
         <th scope="row">2014
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Into_the_Woods_(film)" title="Into the Woods (film)">Into the Woods</a></i>
         </td>
         <td><span data-sort-value="Big, Bad Wolf"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Big_Bad_Wolf" title="Big Bad Wolf">The Big Bad Wolf</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2015
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Mortdecai_(film)" title="Mortdecai (film)">Mortdecai</a></i>
         </td>
         <td><span data-sort-value="Mortdecai, Charlie"><span class="vcard"><span class="fn">Charlie Mortdecai</span></span></span>
         </td>
         <td>Also producer
         </td>
         </tr>
       <tr>
         <th scope="row">2015
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Black_Mass_(film)" title="Black Mass (film)">Black Mass</a></i>
         </td>
         <td><span data-sort-value="Bulger, James &quot;Whitey&quot;"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Whitey_Bulger" title="Whitey Bulger">James "Whitey" Bulger</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2016
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Yoga_Hosers" title="Yoga Hosers">Yoga Hosers</a></i>
         </td>
         <td><span data-sort-value="LaPointe, Guy"><span class="vcard"><span class="fn">Guy LaPointe</span></span></span>
         </td>
         <td>
         </td>
        </tr>
       <tr>
         <th scope="row">2016
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Donald_Trump%27s_The_Art_of_the_Deal:_The_Movie" title="Donald Trump&#39;s The Art of the Deal: The Movie">Donald Trump's The Art of the Deal: The Movie</a></i>
         </td>
         <td><span data-sort-value="Trump, Donald"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Donald_Trump" title="Donald Trump">Donald Trump</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2016
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Alice_Through_the_Looking_Glass_(2016_film)" title="Alice Through the Looking Glass (2016 film)">Alice Through the Looking Glass</a></i>
         </td>
         <td><span data-sort-value="Hightopp, Tarrant"><span class="vcard"><span class="fn">Tarrant Hightopp / Mad Hatter</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2016
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Fantastic_Beasts_and_Where_to_Find_Them_(film)" title="Fantastic Beasts and Where to Find Them (film)">Fantastic Beasts and Where to Find Them</a></i>
         </td>
         <td><span data-sort-value="Grindelwald, Gellert"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Gellert_Grindelwald" class="mw-redirect" title="Gellert Grindelwald">Gellert Grindelwald</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2017
         </th>
         <td><i><span data-sort-value="Black Ghiandola, The"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/The_Black_Ghiandola" title="The Black Ghiandola">The Black Ghiandola</a></span></span></span></i>
         </td>
         <td>Nuclear Med Tech
         </td>
         <td><a href="https://en.wikipedia.org/wiki/Short_film" title="Short film">Short film</a>
         </td>
         </tr>
       <tr>
         <th scope="row">2017
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Pirates_of_the_Caribbean:_Dead_Men_Tell_No_Tales" title="Pirates of the Caribbean: Dead Men Tell No Tales">Pirates of the Caribbean: Dead Men Tell No Tales</a></i>
         </td>
         <td><span data-sort-value="Sparrow, Jack"><span class="vcard"><span class="fn">Captain Jack Sparrow</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2017
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Murder_on_the_Orient_Express_(2017_film)" title="Murder on the Orient Express (2017 film)">Murder on the Orient Express</a></i>
         </td>
         <td><span data-sort-value="Cassetti, John"><span class="vcard"><span class="fn">John Cassetti /  Edward Ratchett</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2018
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Sherlock_Gnomes" title="Sherlock Gnomes">Sherlock Gnomes</a></i>
         </td>
         <td><span data-sort-value="Gnomes, Sherlock"><span class="vcard"><span class="fn">Sherlock Gnomes</span></span></span>
         </td>
         <td>Voice role
         </td>
         </tr>
       <tr>
         <th scope="row">2018
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/London_Fields_(film)" title="London Fields (film)">London Fields</a></i>
         </td>
         <td><span data-sort-value="Purchase, Chick"><span class="vcard"><span class="fn">Chick Purchase</span></span></span>
         </td>
         <td>Uncredited cameo
         </td>
         </tr>
       <tr>
         <th scope="row">2018
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Fantastic_Beasts:_The_Crimes_of_Grindelwald" title="Fantastic Beasts: The Crimes of Grindelwald">Fantastic Beasts: The Crimes of Grindelwald</a></i>
         </td>
         <td><span data-sort-value="Grindelwald, Gellert"><span class="vcard"><span class="fn">Gellert Grindelwald</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2018
         </th>
         <td><i><span data-sort-value="Professor, The"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/The_Professor_(2018_film)" title="The Professor (2018 film)">The Professor</a></span></span></span></i>
         </td>
         <td><span data-sort-value="Brown, Richard"><span class="vcard"><span class="fn">Richard Brown</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2018
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/City_of_Lies" title="City of Lies">City of Lies</a></i>
         </td>
         <td><span data-sort-value="Poole, Russell"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/Russell_Poole" title="Russell Poole">Russell Poole</a></span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2019
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Waiting_for_the_Barbarians_(film)" title="Waiting for the Barbarians (film)">Waiting for the Barbarians</a></i>
         </td>
         <td><span data-sort-value="Joll, Colonel"><span class="vcard"><span class="fn">Colonel Joll</span></span></span>
         </td>
         <td>
         </td>
         </tr>
       <tr>
         <th scope="row">2020
         </th>
         <td><i><a href="https://en.wikipedia.org/wiki/Minamata_(film)" title="Minamata (film)">Minamata</a></i>
         </td>
         <td><span data-sort-value="Smith, William Eugene"><span class="vcard"><span class="fn"><a href="https://en.wikipedia.org/wiki/W._Eugene_Smith" title="W. Eugene Smith">W. Eugene Smith</a></span></span></span>
         </td>
         <td>Also producer
         </td>
         </tr>
       </tbody></table>

</div>